<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('The watch my life project') }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% block head %}{% endblock %}
  </head>
  <body>
    <ul id="navbarMenu">
      <li class="navItem"><a href="{{ url_for('index') }}">Accueil</a></li>
      <li class="navItem"><a href="{{ url_for('loup') }}">About Loup's life</a></li>
      <li class="navItem"><a href="{{ url_for('nino') }}">About Nino's life</a></li>
      <li class="navItem"><a href="{{ url_for('alexandre') }}">About Alexandre's life</a></li>
      <li class="navItem"><a href="{{ url_for('shn') }}">About SHN's lives</a></li>
      <li class="navItem"><a href="{{ url_for('new') }}">New Post</a></li>
      <li class="navItem" style="float:right">
        <form class="" method="get" action="/search/">
          <input class="" placeholder="Search" type="text" name="pattern">
          <button class="" type="submit">Search</button>
        </form>
      </li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
