{% extends "base.html" %}
{% set active_page = "loup" %}

{% block content %}
<h1 class = "mt-5 text-center">Loup</h1>

<p class = lead>Bonjour je m'appel Loup je suis étudiant en 4BIM à l'INSA. 
    De septembre 2021 à août 2022 je projette de faire une césure en Asie du Sud et Russie. 
    Ce voyage sera l'occasion de rédiger un journal de route que je publierai sur ce 
    site au cours du trajet. À très vite </p>

{% for article in articles %}
    <h1 class = "mt-5">{{article["title"]}}</h1>
    {{article["news"]}}
{% endfor %}

{% if search is defined %}
    <h1 class = "mt-5">{{search["title"]}}</h1>
    {{search["news"]}}
{% endif %}

{% endblock %}
