{% extends "base.html" %}

{% block content %}
<h1 class = "mt-5 text-center">Poste tes news sur ton article !</h1>

<h2 class = "mt-5 text-center">Identification :</h2>
<div class="row justify-content-center">
    <div class="col-lg-5 col-sm-10">
        <form method = "get">
            <div class="form-group">
                <label for="username">Utilisateur :</label>
                <input type="text" class="form-control" id="username" name="username" placeholder = "Identifiant" required> <br>
            </div>
            <div class="form-group">
                <label for="pass">Mot de passe :</label>
                <input type="password" class="form-control" id="pass" name="password" placeholder = "Mot de passe" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>


{% if user in ["avergnaud","avilanoba","mperrin","lpetitjean","nmolin"] %}
    <h2 class = "mt-5 text-center">Bienvenue {{user}}</h1>
    <form method="post">
        <div class="col col-md-4 mt-5">
            <div class="form-group">
                <label for="title">Titre du paragraphe :</label>
                <input class="form-control" type="text" id="title" name="title" placeholder="Titre du paragraphe">
            </div>
        </div>
        
        <div class="form-group mt-2">
            <label for="news">Ton texte :</label>
            <textarea class="form-control" id="news" name="news" placeholder="Enrichit nous de tes nouvelles" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary m-3">Submit</button>
    </form>
{% endif %}

<!--

{% if user == "avilanoba" %}
    <h1 class = "mt-5">Bienvenue {{user}}</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Titre du paragraphe :</label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Titre du paragraphe">
        </div>
        <div class="form-group">
            <label for="news">Ton texte :</label>
            <textarea class="form-control" id="news" name="news" placeholder="Enrichit nous de tes nouvelles" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endif %}

{% if user == "mperrin" %}
    <h1 class = "mt-5">Bienvenue {{user}}</h1>
    <form method="post">
        <div class="form-group ">
            <label for="title">Titre du paragraphe :</label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Titre du paragraphe">
        </div>
        <div class="form-group">
            <label for="news">Ton texte :</label>
            <textarea class="form-control" id="news" name="news" placeholder="Enrichit nous de tes nouvelles" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endif %}

{% if user == "lpetitjean" %}
<h1 class = "mt-5">Bienvenue {{user}}</h1>
<form method="post">
    <div class="form-group">
        <label for="title">Titre du paragraphe :</label>
        <input class="form-control" type="text" id="title" name="title" placeholder="Titre du paragraphe">
    </div>
    <div class="form-group">
        <label for="news">Ton texte :</label>
        <textarea class="form-control" id="news" name="news" placeholder="Enrichit nous de tes nouvelles" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
{% endif %}

{% if user == "nmolin" %}
<h1 class = "mt-5">Bienvenue {{user}}</h1>
<form method="post">
    <div class="form-group">
        <label for="title">Titre du paragraphe :</label>
        <input class="form-control" type="text" id="title" name="title" placeholder="Titre du paragraphe">
    </div>
    <div class="form-group">
        <label for="news">Ton texte :</label>
        <textarea class="form-control" id="news" name="news" placeholder="Enrichit nous de tes nouvelles" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
{% endif %}

    
-->


{% endblock %}