{% extends "base.html" %}
{% set active_page = "shn" %}

{% block content %}
<h1 class = "mt-5 text-center">SHN</h1>
<h2 class = text-center><small class="text-muted">Alexandre Vergnaud & Mathieu</small></h2>

<p class = lead> Nous faisons tous les deux de la 
    <a href="https://en.wikipedia.org/wiki/Orienteering"
    class="link-secondary">Course d'Orientation</a> à haut niveau. 
</p>
<p class="lead">
    Faire du sport de haut niveau est un projet à long terme. Il s'agit d'années d'investissements pour 
    arriver à un niveau mondial.
    Heureusement nous bénéficions à l'INSA de Lyon d'un aménagement d'études qui nous permet de 
    réaliser notre double
    projet : nous lissons nos études d'ingénieur sur 7 ans au lieu de 5. 
    En 2021, Alexandre s'est qualifié à une coupe du monde à  
    <a href="https://www.google.com/maps/place/790+91+Idre,+Su%C3%A8de/@61.8579327,12.7083641,14z/data=!3m1!4b1!4m5!3m4!1s0x4669159e18c7cba7:0xb285411ec00c10e2!8m2!3d61.8579343!4d12.7258736"
    class="link-secondary">Idre Fjäll</a> en Suède. Mathieu quant à lui participe aux 
    <a href="https://eoc2021.ch/en/home-english/"
    class="link-secondary">Championnats d'Europe</a> en Suisse Romande, et tentera de sélectionner aux Championnats
    du Monde.
</p>
<p class="lead">
    Vous pourrez suivre ici nos retours et nos résultats !
</p>

{% for article in articles %}
    <h1 class = "mt-5">{{article["title"]}}</h1>
    {{article["news"]}}
{% endfor %}

{% if search is defined %}
    <h1 class = "mt-5">{{search["title"]}}</h1>
    {{search["news"]}}
{% endif %}

{% endblock %}
